@import "_variables.scss";

.MainCont{ 
    display: flex;
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    .first_sections{
        display: flex;
        justify-content:space-between;
        flex-direction:column;
        width: 100%;
        height: 30vh;
        padding: 5px;
        .about_jeju{
            font-size: 2.5rem;
            font-weight: 700;
        }
        .first_text{
            padding: 0 20px 0 0;
            font-size: 1.1rem;
            font-weight: 400;
            color:#737576;
        }
    }
    .second_sections{
        display: flex;
        padding: 40px 0 0 0px;
        justify-content: center;
        .photoContainer{
            .photo1{
                position: relative;
                z-index: 0;
            }
        }
    }
}